.call-tab-sec {
}

.call-tab-sec .search-filter-sec {
  display: flex;
  gap: 30px;
  justify-content: end;
}

.call-tab-sec .search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 52%;
  background-color: white;
}

.call-tab-sec .search-bar input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.call-tab-sec .search-bar button {
  background-color: #0084cf;
  border: none;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: unset;
}

.invite-doc-sec {
  padding: 3%;
  background-color: #ffff;
  margin-bottom: 3%;
  border-radius: 10px;
}

.invite-doc-sec-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobi-mail-btn-sec {
  display: flex;
  gap: 20px;
}

.cliked-icon button {
  background-color: #000000;
  border: 0px;
  color: var(--white);
  padding: 8px 22px;
  border-radius: 8px;
  font-weight: 600;
}

.mobile-icon button {
  background-color: var(--theme-blue);
  border: 0px;
  color: var(--white);
  padding: 8px 22px;
  border-radius: 8px;
  font-weight: 600;
}

.mobile-input-section {
  display: flex;
  gap: 20px;
  align-items: end;
}

/* Isd code package css */
.react-tel-input .form-control {
  width: 250px !important;
}

.react-tel-input .selected-flag .arrow {
  display: none;
}

.start-btn {
  background-color: var(--theme-blue);
}

.doc-head {
  text-align: center;
  text-align: center;
  font-weight: 800;
  margin-bottom: 20px;
}

/* From Uiverse.io by cssbuttons-io */
.callbutton {
  width: 220px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.callbutton,
button span {
  transition: 200ms;
}

.callbutton .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.callbutton .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(170px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callbutton svg {
  width: 15px;
  fill: #eee;
}

.callbutton:hover {
  background: #ff3636;
}

.callbutton:hover .text {
  color: transparent;
}

.callbutton:hover .icon {
  width: 200px;
  border-left: none;
  transform: translateX(0);
}

.callbutton:focus {
  outline: none;
}

.callbutton:active .icon svg {
  transform: scale(0.8);
}

@media screen and (max-width: 768px) {
  .call-tab-sec .search-bar {
        width: 60%;
    }
  .call-tab-sec .search-bar input {
        padding: 6px;
    }
  .call-tab-sec .search-bar button {
    padding: 6px 10px;
    }
  .mobile-icon button {
    padding: 8px 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 568px) {
  .flex-sec-mobile {
    display: block;
  }
  .call-tab-sec .search-filter-sec {
    justify-content: space-between;
    margin-top: 15px;
  }
  h3 {
    font-size: 17px;
  }
  /* .mobile-icon button {
    padding: 8px 20px;
    font-size: 14px;
  } */
}
