.call-tab-sec{

}

.call-tab-sec .search-filter-sec{
    display: flex;
    gap: 30px;
    justify-content: end;
}
.call-tab-sec .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 52%;
    background-color: white;
}
.call-tab-sec .search-bar input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.call-tab-sec .search-bar button {
    background-color: #0084CF;
    border: none;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: unset;
}
.invite-doc-sec{
    padding: 3%;
    background-color: #ffff;
   
    margin-bottom: 5%;
    border-radius: 10px;
}
.invite-doc-sec-inside{
    display: flex;
    justify-content: space-between;
}

.mobi-mail-btn-sec{
    display: flex;
    gap: 20px;
}
.cliked-icon button {
    background-color: #000000;
    border: 0px;
    color: var(--white);
    padding: 8px 22px;
    border-radius: 8px;
    font-weight: 600;
}
.mobile-icon button {
    background-color: var(--theme-blue);
    border: 0px;
    color: var(--white);
    padding: 8px 22px;
    border-radius: 8px;
    font-weight: 600;
}

.mobile-input-section{
    display: flex;
    gap: 20px;
    align-items: end;
}
.start-btn{
    background-color: var(--theme-blue);
}