.card-text-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    color: #17171D;
}

.card {
    box-shadow: 0px 4px 24px 0px #17171D14;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}