.date-range-picker {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    padding: 6px 10px 7px 30px !important;
    border-radius: 0 !important;
}