.app_sidebar {
  background-color: #0066cc;
  /* Blue color */
}

.sidebar_container {
  color: #fff;
  /* White text */
}

.sidebar-btn-wrapper {
  color: #fff;
  /* White text for footer */
}

.cdbreact .cdb-sidebar-menu .cdb-sidebar-menu-item {
  color: #fff;
}

.cdbreact .cdb-sidebar-menu .cdb-sidebar-menu-item:hover {
  background-color: #005bb5;
  /* Darker blue for hover effect */
}

.cdbreact .cdb-sidebar-header {
  background-color: #0066cc;
  /* Match header background color */
}

.cdbreact .cdb-sidebar-footer {
  background-color: #0066cc;
  /* Match footer background color */
}

.menu-icon {
  width: 48px;
}

.side-section p {
  margin-bottom: 0px;
  color: #fff;
}

.flex-sec {
  flex-wrap: nowrap;
}

.side-section small {
  font-size: 11px;
}

.side-section {
  padding-left: 0px;
}

.menu-small {
  margin-top: -5px;
}

.cpMOEy .head-div {
  flex-direction: row-reverse;
  justify-content: center !important;
  gap: 25px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 12px !important;
  margin: 24px 30px 0px 30px;
}

.cpMOEy {
  border-bottom: 0px !important;
}

.jdxTRS {
  background-color: #0084CF !important;
}



/* Sidebarstyle.css */
.app_sidebar {
  transition: transform 0.3s ease-in-out;
}

/* For desktop, sidebar should always be visible */
.desktop-sidebar {
  display: none;
}

@media (min-width: 800px) {
  .desktop-sidebar {
    display: block;
  }
  .mobile-sidebar {
    display: none;
  }
}

/* For mobile, sidebar should slide in/out based on open state */
.mobile-sidebar {

  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  background: #fff;
  z-index: 1000;
  transition: left 0.3s ease;
}

.mobile-sidebar.open {
  background: #0084CF;
  left: 0;
}

/* 3-dot menu icon in header for mobile */
.mobile-menu-icon {
  display: none;
}

@media (max-width: 799px) {
  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
  }
}
