.call-button {
    display: inline-block;
    padding: 0.5em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    border: 1px solid #34974d;
    background-color: #3aa856;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 0 0.2rem #34974d;
}

.call-button:hover {
    background: #34974d;
    box-shadow: 0 0 #34974d;
}

.call-button,
.button__icon,
.button__text {
    transition: all 0.3s;
    border-radius: 50px
}

.call-button .button__text {
    transform: translateX(20px);
    color: #fff;
    font-weight: 600;
    margin-right: 5px;
}

.separator {
    height: 20px;
    /* Adjust height as needed */
    width: 1px;
    /* Line thickness */
    background-color: #fff;
    /* Line color */
    margin: 0 10px;
    /* Spacing around the line */
}

@media all and (max-width:30em) {
    .call-button {
        display: block;
        margin: 0.2em auto;
    }
}