@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./assets/Css/Card.css');
@import url('./assets/Css/Chart.css');
@import url('./assets/Css/BlurBackground.css');
@import url('./assets/Css/DateRangePicker.css');
@import url('./assets/Css/PaginationHome.css');
@import url('./assets/Css/OptionItem.css');
@import url('./assets/Css/Filter.css');
@import url('./assets/Css/PatientDetailCard.css');
@import url('./assets/Css/Table.css');
@import url('./assets/Css/PatientAdd.css');
@import url('./assets/Css/PhoneNumberInput.css');


body {
  margin: 0;
  font-family: "Jost", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Jost", sans-serif !important;
}

.cursor {
  cursor: pointer;
}

.greyed-out {
  opacity: 0.5;
  /* Make the button look faded */
  pointer-events: none;
  /* Disable any interactions like clicks */
}
.content-sec-main{
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}


.cursor-default {
  cursor: default !important;
}

.error-text {
  color: red;
  font-size: 12px;
}

html,
body {
  overflow-y: hidden;
  height: 100vh;
  overflow-x: hidden;
}

:root {
  --white: #fff;
  --screen-back: rgba(233, 233, 233, 1);
  --text-color: #17171D;
  --text-light: rgba(23, 23, 29, 0.6);
  --shadow: rgba(23, 23, 29, 0.08);
  --theme-blue: #0084CF;
  --green: #48B875;
  --light-gray: #E8E8E8;
}

.disabled {
  pointer-events: none;
  /* Prevent any mouse interactions */
  opacity: 0.5;
  /* Change appearance to indicate disabled state */
  cursor: default;
  /* Change cursor to indicate disabled state */
}

.fx-grow {
  flex: 1 1 auto;
}

.primary-bg {
  background: var(--theme-blue) !important;
}

.fs-10 {
  font-size: 10px !important;
  color: var(--text-color);
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.p-0 {
  padding: 0 !important;
}

.minheight-188 {
  min-height: 188px !important;
}

.maxheight-1 {
  min-height: 100% !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.capitalize-first-letter {
  text-transform: lowercase;
  /* Ensure the text is initially lowercase */
}

.capitalize-first-letter::first-letter {
  text-transform: uppercase;
  /* Capitalize only the first letter */
}

.text-align-center {
  text-align: center !important;
}

.label-color {
  color: rgba(23, 23, 29, 0.6);
}

.form-select-lg {
  font-size: 1rem !important;
  padding-top: 0.7rem !important;
}

.no-data-message {
  text-align: center !important;
  color: #999;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  color: #ffffff;
  text-align: left !important;
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  line-height: 16.23px !important;
}

.badge-danger {
  background-color: #ff0000 !important;

}

.badge-success {
  background-color: #008000 !important;
}

.badge-error {
  background-color: #ff0000 !important;
}

.badge-warning {
  background-color: #ffc107 !important;
}

.badge-primary {
  background-color: #0000ff !important;
}

.badge-secondary {
  background-color: #6c757d !important;
}

.badge-yellow {
  background-color: #ffc107 !important;
}

/* for specific gravity */
.badge-Very-Dilute {
  background-color: #89d4f5 !important;
}

.badge-Dilute {
  background-color: #0000ff !important;
}

.badge-Normal {
  background-color: #008000 !important;
}

.badge-Concentrated {
  background-color: #fff707 !important;
  color: #000 !important
}

.badge-Very-Concentrated {
  background-color: #FFC107 !important;
}

.badge-Highly-Concentrated {
  background-color: #FF0000 !important;
}

/* for glucose */
.badge-Below-Normal-Glucose {
  background-color: #89d4f5 !important;
}

.badge-Extremely-High-Glucose {
  background-color: #8B0000 !important;
}

.badge-Negative-Glucose {
  background-color: #008000 !important;
}

.badge-Moderately-High-Glucose {
  background-color: #fff707 !important;
  color: #000 !important
}

.badge-High-Glucose {
  background-color: #FFC107 !important;
}

.badge-Very-High-Glucose {
  background-color: #FF0000 !important;
}

.light-label {
  color: #17171D99 !important;
}

.dark-label {
  color: #17171D !important;
}

.consultant-table {
  border-radius: 12px !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

/* Custom CSS for styling */
.responsive-table-container {
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
}

.responsive-table th {
  background-color: #000000;
  color: #ffffff;
  padding: 12px 6px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  width: 100px;
  word-break: break-all;
  /* text-transform: uppercase */
}

.responsive-table td {
  padding: 10px;
  padding-left: 15px;
  text-align: left;
  border-bottom: 2px solid #E8E8E8
}

/* Remove bottom border for last row in tbody */
.responsive-table tbody tr:last-child td {
  border-bottom: none;
}

.table-content {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;

}

/* Custom CSS for styling */
.lab-responsive-table-container {
  overflow-x: auto;
}


.lab-responsive-table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.lab-responsive-table th {
  background-color: #000000;
  color: #ffffff;
  padding: 12px 10px !important;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}

.lab-responsive-table td {
  padding: 10px !important;
  text-align: center;
  border-bottom: 3px solid #E8E8E8;

}
.grid-vertical-line{  
  /* border: 1px solid #d6d1d13b; */
}
.subGridTh-No{
  text-align: right !important;
}
.subGridTh{
  text-align: left !important;
}
.subGrid-date{
  white-space: nowrap;
}
.subGrid-right{
  text-align: right !important;
}
.subGrid-left{
  text-align: left !important;
}

/* Remove bottom border for last row in tbody */
.lab-responsive-table tbody tr:last-child td {
  border-bottom: none;
}

.table-container {
  overflow-x: auto;
}

.hyperlink {
  text-decoration: underline;
}

.lab-responsive-table-screening {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  /* Adjust the radius value as needed */
  overflow: hidden;
  /* Ensures rounded corners display properly */
}

.lab-responsive-table-screening thead {
  vertical-align: middle !important;
}

.lab-responsive-table-screening th {
  background-color: #000000;
  color: #ffffff;
  padding: 12px 10px !important;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase
}

.lab-responsive-table-screening td {
  padding: 10px !important;
  /* text-align: center; */
  border-bottom: 2px solid #E8E8E8
}

/* Remove bottom border for last row in tbody */
.lab-responsive-table-screening tbody tr:last-child td {
  border-bottom: none;
}

.light-back {
  background-color: var(--screen-back);
  overflow-y: scroll;
  height: 90vh;
}

.flex-sec-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-sec {
  display: flex;
}

.time-picker-style {
  border: 1px solid #d1d1d2 !important;
  border-radius: 4px;
  width: 100%;
}

.date-picker-wrapper {
  width: 100%;
}

.bread-crumbs a {
  color: var(--text-light);
  font-weight: 600;
}

.app_sidebar .sidebar_container {
  background: #0084CF !important;
}

.bread-crumbs a.active {
  color: var(--text-color);
}
.breadCrumb-sec{
  justify-content: end;
}
.top-sec {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar_container .head-div {
  flex-direction: row-reverse;
  justify-content: center !important;
  gap: 25px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 12px !important;
  margin: 24px 30px 0px 30px;
}

.jGeaPm {
  border-bottom: 0px !important;
}

.text-secondary {
  color: var(--text-color);
}

.react-datepicker__view-calendar-icon input {
  width: 100% !important;
  border: 1px solid #17171D33;
  border-radius: 5px;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: var(--theme-blue);
}

.form-label {
  color: #17171D99;
  font-size: 14px;
  font-weight: 400;
}

.radio-label {
  color: #17171D99;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.form-control:focus {
  border-color: var(--theme-blue);
  box-shadow: none !important;
}

[type="file"] {
  display: none;
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"]+label {
  background: var(--white);
  border: 1px solid #17171D33;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  padding: 7px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  text-align: center;
}

.signout-modal .modal-content {
  border-radius: 20px;
  box-shadow: 0px 4px 24px 0px #17171D14;
}

.signout-message {
  font-size: 26px;
  font-weight: 600;
  line-height: 37.57px;
  letter-spacing: 0.1em;
  text-align: left;
}

.date-card {
  width: 350px;
  max-width: 100%;
  box-shadow: 0px 4px 24px 0px #17171D14;
  border-radius: 10px;
}

.vertical-line {
  border-radius: 2px;
  border: 2px solid #E8E8E8
}

/* Lab form file upload changes */

.pad-10 {
  padding: 10px !important;
}

.input-file-container {
  position: relative;
  width: 100%;
}

.input-file+.input-file-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 45px;
  color: #000000;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  border: 1px solid #17171D33
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

/* DropDown Common Component */

.dropdown-container {
  position: relative;
  width: 100% !important;
  border-radius: 5px 0 0 0;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, #FFFFFF 100%);
}

.dropdown-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  padding: 8px 10px !important;
  cursor: pointer;
  background-color: #FFFFFF !important;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
}

.dropdown-header span {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown-list {
  max-height: 140px;
  overflow: auto;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 2px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, #FFFFFF 100%);
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 1px 1px 2px #8080805c;
}

.dropdown-list li {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.dropdown-container ul {
  padding-left: 0rem !important
}


.pad-custom {
  padding: 2rem 3rem !important;
}

.dropdown-content {
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skeleton-badge {
  width: 80px;
  /* Adjust based on the badge size */
  height: 24px;
  /* Adjust based on the badge size */
  background-color: #e0e0e0;
  border-radius: 12px;
  /* Adjust based on your badge shape */
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-date {
  width: 150px;
  /* Adjust based on the date text length */
  height: 16px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }

  50% {
    background-color: #f5f5f5;
  }

  100% {
    background-color: #e0e0e0;
  }
}

 /* Assessment css */
 .Assess-Head{
  /* font-size: 25px; */
 }
 .Assess-ques{
  /* font-size: 20px; */
 }



@media screen and (max-width: 768px) {
 .content-sec-main{
  padding-left: 10px !important;
  padding-right: 10px !important;
 }
 .bread-crumbs a{
  font-size: 13px;
 }
 .bread-crumbs a.active {
  font-size: 13px;
 }

.breadcrumb-label {
  font-size: 12px !important;
}
}

@media screen and (max-width: 568px) {
  .breadCrumb-sec{
    justify-content: start;
  }
}