.medical-tabs {
    background-color: white;
    border-radius: 12px;
    outline: none;
    border: none;
    height: 100%;
}

.medical-tabs-container {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.medical-tab-items {
    display: flex;
    gap: 5px;
    color: black;
    cursor: pointer;
}

.medical-tab-active {
    background: #0084CF;
    border-radius: 10px;
}

.medical-tab-title {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23.12px;
    text-align: left;
    color: black;
    /* text-transform: uppercase; */
}

.medical-tab-title-active {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23.12px;
    text-align: left;
    color: white;
    /* text-transform: uppercase; */
}

@media screen and (max-width: 568px) {
.medical-tabs-container {
  flex-wrap: wrap;
    }
}